<nav class="nwnd">
    <div class="nwnd">
        <a href="/">
            <h1>NWND</h1>
        </a>
        <p class="nwnd"> Not Written Not Done </p>
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">Tasks</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/tasks/newTask">Add Tasks</a></li>

    </ul>
</nav>